[submodule "Anki-Android"]
	path = Anki-Android
	url = https://github.com/sosegon/Anki-Android
[submodule "2048-android"]
	path = 2048-android
	url = https://github.com/sosegon/2048-android
[submodule "AnkiGame/app/src/main/assets/2048"]
	path = AnkiGame/app/src/main/assets/2048
	url = https://github.com/sosegon/2048
